html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input-query {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-query p {
    color: white;
}

.input-query form {
    display: flex;
}

.input-query input {
    border: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 0 20px;
    font-size: 16px;
}

.input-query input:focus {
    outline: none;
}

.input-query button {
    height: 70px;
    padding: 0 40px;
    border: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #9fdbff;
    font-size: 16px;
    cursor: pointer;
}

.color-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}

.color-item {
    height: 100%;
    flex: 1;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.color-item > p {
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 100px;
    color: white;
    font-size: 20px;
}

.color-item:hover p {
    display: block;
}

@media only screen and (max-width: 768px) {
    .input-query input {
        padding: 0 20px;
    }

    .input-query button {
        height: 50px;
        padding: 0 20px;
    }

    .color-list {
        flex-direction: column;
    }

    .color-item {
        flex-direction: row;
        align-items: center;
    }

    .color-item > p {
        margin: 0;
    }
}