<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Color Palette Generator</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
<div class="color-list">
  <div class="color-item" style="background-color: #2b2b2b"><p>#2b2b2b</p></div>
</div>
<div class="center">
  <form>
    <input type="text" placeholder="Google colors">
    <button type="submit">Generate</button>
  </form>
</div>
<script>
    const colorItemReference = document.querySelector(".color-item");

    const colors = ["#009246", "#FFFFFF", "#CE2B37"];
    const colorList = document.querySelector(".color-list");

    const newColorItems = colors.map(color => {
        const colorNameElement = document.createElement("p");
        colorNameElement.innerText = color;

        const item = colorItemReference.cloneNode(false);
        item.style.backgroundColor = color;
        item.appendChild(colorNameElement);

        return item;
    })

    colorList.replaceChildren(...newColorItems);
</script>
</body>
</html>